nav{
    width:100%;
    height: 60px;
    background-color: #344051;
    position: fixed;
}
a{
    text-decoration: none;
    color: white;
    display: inline-block;
    transform: scale(1);
}
.logo{
    font-size: 30px;
    color: white;
    line-height: 55px;
    padding-left: 300px;
    float: left;
}
.menu{
    float: left;
     padding-left: 130px;
}
.menu li{
    float: left;
    line-height: 30px;
    color: white;
    margin-right: 60px;
    list-style-type: none;
    font-size: 15px;
}
.menu li a:hover{
    color: orange;
    transition: 0.2s;
   
}
.menu li:active{
     transform: scale(1.1);
}

.main{
    padding-top: 435px;
    height: 500px;
    background:url("fon-1.png");
}
.hello{
    padding-left: 540px; 
    font-size:45px;
    margin: 0;
    color: #2C384A;
}
.Iam{
    padding-left: 403px;
    font-size:45px;
    margin: 0;
    color: #2C384A;
}
.main h4{
    padding-left: 460px;
    font-size:25px;
    margin: 0;
    padding-top: 20px;
    color: #717884;
}
.one{
    margin-left: 455px; 
    padding: 10px 7px 10px 7px;
    font-size: 25px;
}
.two{
    margin-left: 55px;
    padding: 10px 7px 10px 7px;
    font-size: 25px;
}
.main input{
    margin-top: 35px;
    border-radius: 15px;
    color: #2C384A;
    border-color: #2C384A;
}
.about-me{
    height: 590px;
}
.about-me h2{
    text-align: center;
    margin-left: 700px;
    color: #2C384A;
    font-size: 25px;
    border-bottom: solid 3px orange;
    width: 140px;
}
.foto-2{
    width: 220px;
    height: 220px;
    border-radius: 220px;
    margin-left: 654px;
}
.about-me p{
    margin-left: 370px;
    font-size: 19px;
    color: #2C384A;
}
.button-download{
    font-size: 25px;
    padding: 10px 15px 10px 30px;
    border-radius: 15px;
    color: #2C384A;
    border-color: #2C384A;
    margin-left: 660px;
    margin-top: 30px;
    width: 250px;
    background-image: url("buton-download.png");
    background-repeat: no-repeat;
    background-position: 3% 45%;
    background-size: 25px 25px;
}
.main-block-2 h2{
    margin-left: 700px;
    color: #2C384A;
    font-size: 25px;
    border-bottom: 3px solid orange;
    width: 185px;
    padding-top: 100px;
}
.mySkills{
    display: flex;
    margin-top: 100px;
}
.web{
    margin-left: 200px;
}
.development{
   padding-left: 125px; 
}
.SEO-optimization{
    padding-left: 125px; 
}
.Marketing{
    padding-left: 125px; 
}
.skill{
    margin-left: 50px;
}
.allSkills{
    margin-left: 30px;
    font-size: 20px;
    color: orange;
}
.CEO{
    margin-left: 5px;
    margin-top: 5px;
    font-size: 20px;
    color: orange;
}
.MAR{
    margin-left: 20px;
    margin-top: 10px;
    font-size: 20px;
    color: orange;
}
.name-case{
    padding-left: 710px;
    color: #2C384A;
    font-size: 25px;
}
.Cases-lorem-1{
    margin-left: 340px;
    font-size: 18px;
    color: #2C384A;
}
.fon-cases{
    width: 900px;
    height: 530px;
    margin-left: 328px;
}
.infBlock-1 h2{
    color: #2C384A;
    padding-left: 330px;
    margin: 0;
}
.infBlock-1 p{
    padding-left: 330px;
    font-size: 18px;
    margin: 0;
}
.infBlock-1{
    width: 500px;
}
.infBlock-2{
    width: 500px;
    padding-top: 25px;
    margin: 0;
}
.infBlock-2 h2{
    color: #2C384A;
    padding-left: 330px;
    margin: 0;
}
.infBlock-2 p{
     padding-left: 330px;
    font-size: 18px;
    margin: 0;
}
.button-visit{
    font-size: 25px;
    margin-left: 327px;
    margin-top: 15px;
    color: white;
    background-color: #63b5ae;
    border-color: #63b5ae;
    border-radius: 5px;
}
.name-object{
    margin-left: 600px;
    margin-top: -170px;
}
.name-object h3{
    margin: 0;
    font-size: 22px;
    color: #2C384A;
}
.name-object p{
    margin: 0;
    font-size: 17px;
    color: #2C384A;
}
.main-block-3{
    height: 900px;
    border-bottom: 1px solid;
}
.Payment{
    margin-left: 735px;
    color: #2C384A;
    font-size: 25px;
}
.coast-1 {
    color: #2C384A;
    margin-left: 400px;
}
.coast-1 select{
    padding: 10px 750px 10px 15px; 
    border-color: white;
    font-size: 18px; 
    color: gray;
}
.coast-2{
    color: #2C384A;
    margin-left: 400px;
}
.coast-2 select{
    padding: 10px 750px 10px 15px; 
    border-color: white;
    font-size: 18px; 
    color: gray;
}
.coast-3{
    color: #2C384A;
    margin-left: 400px;
}
.coast-3 select{
     padding: 10px 750px 10px 15px; 
     border-color: white;
     font-size: 18px; 
     color: gray;
}
.all{
    width: 980px;
    height: 100px;
    margin-top: 50px;
    margin-left: 400px;
    font-size: 20px;
    border-bottom: 1px solid gray;
    color: #2C384A;
}
.name-static{
    width: 310px;
    margin-left: 680px;
    margin-top: 30px;
    padding-top: 100px;
    color: #2C384A;
    border-bottom: 3px solid orange;
}
.static{
    width: 100%;
    height: 400px;
    display: flex;
    margin-left: 350px;
    padding-top: 50px;

}
.only-fon{
        background: url("fon-5.png") no-repeat;
}
.static-1{
    width: 200px;
    height: 150px;
}
.static-2{
    margin-left: 50px;
    width: 200px;
    height: 150px;
}
.static-3{
     margin-left: 50px;
     width: 200px;
     height: 150px;
}
.static-4{
     margin-left: 50px;
     width: 200px;
     height: 150px;
}
.number-1{
    font-size: 30px;
    font-weight: bold;
    color: #2C384A;
    margin: 0;
    padding-left: 75px;
}
.number-2{
    font-size: 30px;
    font-weight: bold;
    color: #2C384A;
    margin: 0;
    padding-top: 9px;
    padding-left: 70px;
}
.number-3{
    font-size: 30px;
    font-weight: bold;
    color: #2C384A;
    margin: 0;
    padding-top: 4px;
    padding-left: 75px;
}
.number-4{
    font-size: 30px;
    font-weight: bold;
    color: #2C384A;
    margin: 0;
    padding-left: 85px;
}
.task-1{
    color: #2C384A;
    margin: 0;
}
.task-2{
    color: #2C384A;
    margin: 0;
    padding-left: 45px;
}
.task-3{
    color: #2C384A; 
    margin: 0;
}
.task-4{
    color: #2C384A; 
    margin: 0;
    padding-left: 25px;
}
.static img{
    padding-left: 70px;
}
.foto-3{
    widows: 150px;
    height: 150px;
    border-radius: 150px;
    margin-top: 50px;
    margin-left: 734px
}
.commend-all{
    margin-top: 150px;
}
.commend-all h2{
    margin-left: 760px;
    color: #2C384A; 
}
.Lorem-5{
    padding-top: 40px;
    padding-left: 440px;
    font-size: 18px;
    color: #2C384A; 
    margin: 0;
}
.Lorem-5-2{
    padding-left: 570px;
    font-size: 18px;
    color: #2C384A; 
    margin: 0;
}
.Andrey{
    font-size: 18px;
    margin-left: 620px;
    color: #2C384A; 
}
.radio-1{
    margin-left: 780px;
}
.commend-all input{
    margin-top: 40px;
}
.my-contact{
    width: 215px;
    margin-top: 20px;
    margin-left: 715px;  
    color: white; 
    padding-top: 35px;
    border-bottom: solid 3px orange
}
.lorem-7{
    margin-top: 30px;
    margin-left: 460px;
    font-size: 18px;
    color: white; `
}
.block-icon{
    display: flex; 
}
.icon1{
    text-align: center;
    width: 200px;
    margin-left: 440px;
}
.SanTown{
    margin: 0;
    color: white; 
}
.Nevskiy{
    margin: 0;
    color: white; 
}
.icon2{
    text-align: center;
    width: 200px;
    margin-left: 70px;
}
.icon3{
    text-align: center;
    width: 200px;
    margin-left: 70px;
}
.MyText{
    margin-left: 640px;
    color: white;
}
.messenger{
    display: block;
}
.area{
    width: 700px;
    margin-left: 450px;
    margin-top: 25px;
}
.name{
    margin-left: 450px;
    width: 320px;
    padding: 10px 0px 10px 5px;
}
.email{
    width: 200px;
    margin: 0;
    color: white; 
}
.email-write{
    margin-left: 45px;
    width: 320px;
    padding: 10px 0px 10px 5px;
}
.otpr{
    margin-left: 750px;
    margin-top: 20px;
    padding: 10px 15px 10px 15px;
}
.one:hover{
    background-color:#2C384A;
    color:white;
    transition: 0.3s;
}
.one:active{
    transform: scale(1.1)
}
.two:hover{
    background-color:#2C384A;
    color:white;
    transition: 0.3s;
}
.two:active{
    transform: scale(1.1);
}
.main-block-5{

}
.main-block-2{
    height: 550px;
    background-image: url("fon-2.png");
}
.button-download:hover{
    color: white;
    background-color: orange;
    border-color: orange;
    background-image: none;
    transition: 0.6s;
}
.main-block-6{
    margin-top: 60px;
    background: url("fon-4.jpg") no-repeat;
    background-size: 1680px 700px; 
    height: 700px;
}
.number{
    color: white;
    margin: 0;
}
.icon2 img{
    margin: 0;
}
.icon3 img{
    margin: 0;
}
.otpr{
    background: opacity;
}